.addWorkpiece {
	 display: flex;
     flex-direction: column;
	 .topBar {
      width: 944px;
      height: 72px;
      box-shadow: inset 0px -1px 0px #DCDFE1;
      flex-shrink: 0;
    }
    .content {
    	overflow-y: "auto";
    	padding: 32px;
    }
    .downBar {
      width: 944px;
      height: 72px;
      box-shadow: inset 0px 1px 0px #DCDFE1;
      flex-shrink: 0;
    }
}