.workpieceModal {
  .row {
    display: flex;
    .formInput {
      margin-bottom: 0px;
    }
    :first-child {
      margin-right: 16px;
      flex: 2;
    }
    :last-child {
      flex: 1;
    }
  }
  .modal {
    max-width: 624px;
  }
  .content {
    padding-bottom: 0px;
    .formInput {
      margin-bottom: 32px;

      > label {
        @extend .medium-700;
      }
      > input {
        @extend .medium-400;
        margin-top: 8px;
        height: 40px;
        width: 100%;
        background: map-get($colors-background, 'ground');
        border: 1px solid map-get($colors, 'stroke');
        border-radius: 2px;
        padding: 8px;
      }

      .radioGroup {
        display: flex;
        flex-direction: column;
        padding-top: 8px;
        label {
          @extend .medium-400;
          padding: 8px 0;
          display: flex;
          align-items: center;
          cursor: pointer;
        }
        input {
          margin-right: 19px;
        }
      }
      .hint {
        @extend .small-400;
        color: map-get($colors, 'secondary');
        margin-top: 8px;
      }
      a {
        @extend .small-700;
      }
      .filePicker {
        border-style: dashed;
      }
    }
  }
  .downBar {
    display: flex;
    justify-content: flex-end;
    :first-child {
      margin-right: 16px;
    }
  }
}
