.authLayout {
  p,
  input {
    @extend .medium-400;
    color: map-get($colors, 'secondary');
  }
  a {
    @extend .medium-400;
    color: map-get($colors, 'action');
    font-weight: bold;
    text-decoration: none;
  }
  .topBar {
    padding: 16px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .right {
      span {
        @extend .medium-400;
        color: map-get($colors, 'secondary');
      }
      :first-child {
        margin-right: 16px;
      }
      :last-child {
        margin-left: 32px;
      }
    }
  }
  .form {
    margin: map-get($spacings, 'xlarge') auto;
    max-width: 465px;
    .header {
      margin-bottom: map-get($spacings, 'large');
      p {
        margin-top: map-get($spacings, 'medium');
      }
    }
    .form-input {
      margin-bottom: map-get($spacings, 'large');

      label {
        @extend .medium-700;
      }
      input {
        height: map-get($sizes, 'medium');
        width: 100%;
        background: map-get($colors-background, 'ground');
        border: 1px solid map-get($colors, 'stroke');
        border-radius: $border-radius-form;
        padding: map-get($spacings, 'small');
      }
      > input {
        margin-top: map-get($spacings, 'small');
      }
      a {
        @extend .small-700;
      }
      .double-input {
        display: flex;
        flex-direction: column;
        :last-child {
          margin-top: map-get($spacings, 'large');
        }
      }
    }

    .buttons {
      display: flex;
      justify-content: space-between;
      .checkbox {
        display: flex;
        align-items: center;
        label {
          @extend .medium-400;
          margin-left: map-get($spacings, 'medium');
        }
      }
    }
  }
}
