.authLayout {
  p,
  input {
    @extend .medium-400;
    color: map-get($colors, 'secondary');
  }
  a {
    @extend .medium-400;
    color: map-get($colors, 'action');
    font-weight: bold;
    text-decoration: none;
  }

  .checkEmailModal {
    width: 80vw;
    max-width: 944px;
    .content {
      .iconContainer {
        display: flex;
        justify-content: center;
        margin-bottom: 16px;
      }
    }
    .downBar {
      padding: 16px 32px;
      display: flex;
      button {
        margin-left: auto;
      }
    }
  }
  .topBar {
    padding: 16px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .right {
      span {
        @extend .medium-400;
        color: map-get($colors, 'secondary');
      }
      :first-child {
        margin-right: 16px;
      }
      :last-child {
        margin-left: 32px;
      }
    }
  }
  .form {
    margin: 64px auto;
    max-width: 464px;
    .formInput {
      margin-bottom: 32px;
    }
    .header {
      margin-bottom: 32px;
      p {
        margin-top: 16px;
      }
    }
    .buttons {
      display: flex;
      justify-content: space-between;
      .checkbox {
        display: flex;
        align-items: center;
        label {
          @extend .medium-400;
          margin-left: 16px;
        }
      }
    }
  }
}
