.btn {
  border-radius: $border-radius-form;
  height: map-get($sizes, 'medium');
  padding: map-get($spacings, 'small') map-get($spacings, 'medium');
  cursor: pointer;
  align-items: center;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}

.btn-primary {
  @extend .btn;
  color: map-get($colors, 'primary_reversed');
  background-color: map-get($colors, 'action');
  outline: 0;
  border: none;
}

.btn-secondary {
  @extend .btn;
  color: map-get($colors, 'action');
  cursor: pointer;
  background-color: map-get($colors-background, 'transparent');
  border: 1px solid map-get($colors, 'stroke');
  box-sizing: border-box;
}

.btn-icon {
  padding-top: map-get($spacings, 'small');
  background-color: map-get($colors-background, 'transparent');
  border: none;
  cursor: pointer;
  align-items: center;
}
