.consultRightSplit {
  width: 880px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
  .left {
    width: 432px;
  }
  .consultRightSplitRight {
    width: 432px;
    display: flex;
    justify-content: space-around;
  }
  .consultRightSplitSection {
    > :last-child {
      .infos {
        box-shadow: none;
      }
    }
    margin-bottom: 56px;
    .privacySubtitle {
      font-size: 16px;
      line-height: 24px;
      color: #203548;
      margin: 0px 4px;
      display: flex;
      align-items: center;
      margin-bottom: 16px;
      > :first-child {
        align-self: flex-start;
      }
      svg {
        margin-right: 16px;
        height: 24px !important;
        width: 24px !important;
      }

      .privacyPublicDesc {
        @extend .small-400;
        margin-top: 16px;
        color: #687a8b;
      }
    }
    .privacyDescription {
      margin-left: 36px;
      margin-bottom: 16px;
      font-size: 12px;
      line-height: 16px;
      display: flex;
      align-items: center;
      color: #687a8b;
      flex: none;
      order: 0;
      flex-grow: 1;
    }
  }
  .titleRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    .btn-secondary-small {
      display: flex;
      align-items: center;
      padding-left: 4px;
      svg {
        margin-right: 6px;
      }
    }
    .title {
      font-weight: bold;
      font-size: 16px;
      line-height: 24px;
      color: #203548;
    }
  }
  .titleRow + .consultCollaborator {
    box-shadow: 0px 1px 0px 0px #dcdfe1 inset;
    padding-top: 16px;
  }
  .toDo {
    background-color: rgba(214, 196, 162, 0.15);
  }
  .consultCollaborator {
    margin-top: 16px;
    display: flex;
    .avatar {
      margin-right: 16px;
    }
    .title {
      @extend h3;
    }

    .left {
      display: flex;
    }
    .roles {
      display: flex;
      @extend .small-400;
      color: #687a8b;
    }
    .name {
      @extend .medium-400;
    }
    .infos {
      flex: 1;
      padding-bottom: 16px;
      box-shadow: 0px -1px 0px 0px #dcdfe1 inset;
      .row {
        align-items: flex-end;
        justify-content: space-between;
      }
    }
    .shares {
      @extend h5;
    }
    .voteAccepted {
      @extend .small-700;
      color: #2da84f;
    }
    .voteUndecided {
      @extend .small-400;
      color: #687a8b;
    }
    .voteRejected {
      /* Interface/Small-700 */
      font-family: IBM Plex Sans;
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      line-height: 16px;
      /* identical to box height, or 133% */
      text-align: right;

      /* Content/Alert-Negative */
      color: #ac1616;
    }
  }

  .privacyCollaborator {
    // height: inherit;
    align-items: flex-start !important;
    .right {
      > * {
        white-space: nowrap;
      }
    }
    border: none;
    display: flex;
    align-items: center;
    .name {
      vertical-align: middle;
    }
  }
  .comment {
    @extend .medium-400;
    padding: 8px;
    margin: 8px 8px 16px 0px;
    color: map-get($colors, 'secondary');
    background-color: map-get($colors-background, 'underground');
    width: fit-content;
    div {
      margin-bottom: 8px;
    }
  }
  .voting {
    display: flex;
    flex-direction: column;
    margin-top: 8px;

    .buttons {
      :first-child {
        margin-right: 16px;
      }
    }
    textarea {
      margin-top: 16px;
      border: 1px solid #dcdfe1;
      box-sizing: border-box;
      border-radius: 2px;
    }
    button {
      width: 180px;
      height: 40px;
      border-radius: 4px;
      font-weight: bold;
      font-size: 16px;
      line-height: 24px;
      border: 1px solid #dcdfe1;
      cursor: pointer;
    }
    .reject {
      color: #ac1616;
      background-color: white;
    }
    .accept {
      color: #2da84f;
      background-color: white;
    }
    .acceptSelected {
      background: #2da84f;
      color: white;
      border: none;
    }
    .rejectSelected {
      background: #ac1616;
      color: white;
      border: none;
    }
  }
}
.consult-details {
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #687a8b;
  .artistName {
    font-weight: bold;
    color: #2da84f;
    margin: 0px 4px;
  }
}
.mobileConsult {
  padding-bottom: 32px;
  .rightSplits {
    padding: 0 16px;
  }
  .consultRightSplitSection {
    margin-top: 32px;
    > :last-child {
      .infos {
        box-shadow: none;
      }
    }
    .avatar {
      margin-right: 16px;
    }
    .titleRow {
      display: flex;
      justify-content: space-between;
      .btn-secondary-small {
        display: flex;
        align-items: center;
        padding-left: 4px;
        svg {
          margin-right: 6px;
        }
      }
    }
    .title {
      @extend h3;
    }
    .consultCollaborator {
      display: flex;
      margin-top: 16px;
    }

    .voting {
      display: flex;
      flex-direction: column;
      margin-top: 16px;

      .buttons {
        display: flex;
        > * {
          flex: 1;
        }
        > :first-child {
          margin-right: 16px;
        }
      }
      textarea {
        border: 1px solid #dcdfe1;
        box-sizing: border-box;
        border-radius: 2px;
        margin-top: 16px;
      }
      button {
        height: 40px;
        border-radius: 4px;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        border: 1px solid #dcdfe1;
        cursor: pointer;
      }
      .reject {
        color: #ac1616;
        background-color: white;
      }
      .accept {
        color: #2da84f;
        background-color: white;
      }
      .acceptSelected {
        background: #2da84f;
        color: white;
        border: none;
      }
      .rejectSelected {
        background: #ac1616;
        color: white;
        border: none;
      }
    }

    .privacySubtitle {
      @extend .medium-400;
      display: flex;
      > :first-child {
        margin-right: 16px;
      }
    }
    .consultCollaborator.privacyCollaborator {
      justify-content: space-between;
      .left {
        align-items: center;
      }
      .right {
        display: flex;
        align-items: center;
      }
    }
    .left {
      display: flex;
    }
    .roles {
      display: flex;
      @extend .small-400;
      color: #687a8b;
    }
    .name {
      @extend .medium-400;
    }
    .infos {
      flex: 1;
      padding-bottom: 16px;
      box-shadow: 0px -1px 0px 0px #dcdfe1 inset;
      .row {
        align-items: flex-end;
        justify-content: space-between;
      }
    }
    .comment {
      @extend .medium-400;
      padding: 8px 8px;
      margin: 8px 8px 16px 0px;
      color: map-get($colors, 'secondary');
      background-color: map-get($colors-background, 'underground');
      width: fit-content;
      div {
        margin-bottom: 8px;
      }
    }
    .shares {
      @extend h3;
    }
    .voteAccepted {
      @extend .small-700;
      color: #2da84f;
    }
    .voteUndecided {
      @extend .small-400;
      color: #687a8b;
    }
    .voteRejected {
      /* Interface/Small-700 */
      font-family: IBM Plex Sans;
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      line-height: 16px;
      /* identical to box height, or 133% */
      text-align: right;

      /* Content/Alert-Negative */
      color: #ac1616;
    }
  }
  .sendToCollaborators {
    .content {
      > p {
        @extend .medium-400;
        color: #687a8b;
      }
      .formInput {
        margin-top: 16px;
      }
      padding: 16px 32px 0 32px;
    }
  }
}
