@import './variables.scss';
@import './buttons.scss';
@import './typographies.scss';
@import './reset.scss';
@import './forms.scss';
@import './summary.scss';
@import './modal.scss';
@import './workpieces.scss';
@import './orientation.scss';
@import './vote.scss';
@import './corridorLayout.scss';
@import './publicPages.scss';
@import './rightSplitCreation.scss';
@import './workpieceModal.scss';
@import './radio.scss';
@import './consultRightSplit.scss';
@import './settings.scss';

body {
  font-family: IBM Plex Sans;
}

.row {
  display: flex;
}

.rowSB {
  display: flex;
  justify-content: space-between;
}

.rowSBAC {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rowAC {
  display: flex;
  align-items: center;
}

.toDo {
  background-color: map-get($colors, 'wip');
  display: none;
}
.profileMenu {
  outline: 0;
  background-color: white;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  margin-top: 24px;
  margin-left: -130px;
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 200px;
  .menuItem {
    background-color: white;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    text-align: center;
  }
  :hover {
    background-color: #eee;
  }
}
.profileOptions {
  display: flex;
  align-items: center;
  cursor: pointer;
  .avatar {
    background-color: rgba(131, 127, 119, 0.25);
    height: 24px;
    width: 24px;
    border-radius: 24px;
    margin-right: 4px;
    margin-left: 16px;
    color: black;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    letter-spacing: 0.75px;
    cursor: pointer;
  }
  .chevronDown {
    margin-right: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.pageErrors {
  margin-top: 32px;
  margin-bottom: 16px;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  // display: flex;
  align-items: center;
  color: #ac1616;
}
