@import './variables.scss';
@import './buttons.scss';
@import './typographies.scss';
@import './reset.scss';
@import './summary.scss';
@import './modal.scss';
@import './workpieces.scss';
@import './orientation.scss';
@import './vote.scss';
@import './authLayout.scss';
@import './rightSplitCreation.scss';
@import './addWorkpiece.scss';
@import './radio.scss';
@import './consultRightSplit.scss';
@import './documentation.scss';

body {
  font-family: IBM Plex Sans;
}

.row {
  display: flex;
}

.rowSB {
  display: flex;
  justify-content: space-between;
}

.rowSBAC {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rowAC {
  display: flex;
  align-items: center;
}

.toDo {
  background-color: map-get($colors, 'wip');
}
