.mobileTopBar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 16px;

  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  a {
    height: 24px;
  }
  > :last-child {
    border: 0;
  }
  > .row {
    align-items: center;
    > :first-child {
      margin-right: 16px;
    }
  }
}
.mobileDownBar {
  display: flex;
  justify-content: space-around;
  padding: 16px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
  background: #ffffff;
  box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.1);
}
