.radioRow {
  background-color: #fff;
  border: none;
  outline: 0;
  display: flex;
  height: 24px;
  align-items: center;
  cursor: pointer;
  margin-bottom: 16px;
}
.radioCircle {
  height: 16px;
  width: 16px;
  border-radius: 10px;
  border: 1px solid #dcdfe1;
  margin-right: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  .innerSelected {
    height: 8px;
    width: 8px;
    border-radius: 10px;
    background-color: #2da84f;
  }
}
.radioLabel {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #203548;
}
