.rightSplitCreation {
  .topBar {
    position: sticky;
    top: 0px;
    height: 72px;
    border-bottom: 2px solid #dcdfe1;
    box-shadow: 0px -2px 4px 4px #dcdfe1;
    align-items: center;
    display: flex;
    justify-content: space-between;
    background-color: white;
    .bx {
      display: flex;
      align-items: center;
      .img {
        height: 40px;
        width: 40px;
        background-color: rgba(214, 196, 162, 0.15);
        margin-right: 16px;
        margin-left: 16px;
      }
      .title {
        margin-right: 32px;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        color: #203548;
      }
      .breadCrumb {
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        display: flex;
        align-items: center;
        .p1 {
          margin-right: 10px;
          margin-left: 10px;
        }
        .arrow {
          background-color: rgba(214, 196, 162, 0.15);
          height: 40px;
          width: 20px;
        }
        .p2 {
          margin-right: 10px;
          margin-left: 10px;
        }
      }
      .credit {
        background-color: rgba(214, 196, 162, 0.15);
        height: 40px;
        width: 40px;
      }
      .saveAndQuit {
        margin-right: 16px;
        margin-left: 16px;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        color: #2da84f;
        cursor: pointer;
      }
      .avatar {
        background-color: rgba(131, 127, 119, 0.25);
        height: 24px;
        width: 24px;
        border-radius: 24px;
        margin-right: 4px;
        margin-left: 16px;
        color: black;
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        letter-spacing: 0.75px;
      }
      .chevronDown {
        margin-right: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  .b1 {
    display: flex;
    justify-content: center;
    .b1b1 {
      width: 944px;
      display: flex;
      justify-content: space-between;
      margin-bottom: 100px;
      min-height: 90vh;
      .b1b1b1 {
        width: 464px;
        .presentation {
          .presentationB1 {
            display: flex;
            align-items: center;
            margin-bottom: 32px;
            margin-top: 72px;
            .logo {
              width: 22px;
              height: 22px;
              margin-right: 17px;
            }
            .title {
              font-weight: bold;
              font-size: 16px;
              line-height: 24px;
              color: #2da84f;
            }
          }
          .text1 {
            font-weight: 500;
            font-size: 40px;
            line-height: 48px;
            color: #203548;
            margin-bottom: 16px;
          }
          .text2 {
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            color: #687a8b;
            margin-bottom: 72px;
          }
        }
        .separator {
          margin-bottom: 32px;
          margin-top: 32px;
          border-bottom: 1px solid #dcdfe1;
          width: 100%;
        }
      }
      .b1b1b2 {
        width: 464px;
        .b1b1b1b2 {
          position: sticky;
          top: 144px;
          display: flex;
          justify-content: space-around;
        }
      }
    }
  }
  .dividingMethod {
    margin-bottom: 32px;
  }
  .addCollaborators {
    .addButton {
      height: 40px;
      width: 100%;
      background-color: white;
      border: 1px solid #dcdfe1;
      box-sizing: border-box;
      border-radius: 2px;
      display: flex;
      align-items: center;
      font-size: 16px;
      line-height: 24px;
      color: #8da0b3;
      cursor: pointer;
      .plusIcon {
        margin: 9px;
        height: 22px;
        width: 22px;
        cursor: pointer;
      }
      .input {
        border: none;
        outline: 0;
        width: 100%;
        cursor: pointer;
      }
      .arrowDown {
        margin: 9px;
        height: 22px;
        width: 22px;
      }
    }
    .optionList {
      width: 100%;
      border: 1px solid #dcdfe1;
      border-top: none;
      padding-top: 8px;
      padding-bottom: 8px;
      box-shadow: inset 0px -1px 0px #dcdfe1;
      .option {
        width: 100%;
        height: 40px;
        display: flex;
        align-items: center;
        cursor: pointer;
        .avatar {
          margin: 8px;
          height: 24px;
          width: 24px;
          background-color: rgba(131, 127, 119, 0.25);
          border-radius: 24px;
          color: black;
          font-size: 12px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: 700;
          letter-spacing: 0.75px;
        }
        &:hover {
          background-color: rgba(214, 196, 162, 0.15);
        }
        .firstInstance {
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
        }
        .secondInstance {
          margin-left: 4px;
          font-weight: normal;
          font-size: 12px;
          line-height: 16px;
        }
      }
    }
    .addANew {
      display: flex;
      align-items: center;
      cursor: pointer;
      .avatar {
        margin: 8px;
        height: 24px;
        width: 24px;
        background-color: rgba(214, 196, 162, 0.15);
      }
      border: 1px solid #dcdfe1;
      border-top: none;
      padding-top: 8px;
      padding-bottom: 8px;
      font-weight: bold;
      font-size: 16px;
      line-height: 24px;
      color: #2da84f;
      &:hover {
        background-color: rgba(214, 196, 162, 0.15);
      }
    }
  }
  .collaborator {
    background-color: #faf8f9;
    padding: 16px;
    margin-bottom: 16px;
    border-radius: 2px;
    .b1 {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .avatar {
      width: 24px;
      height: 24px;
      background-color: rgba(214, 196, 162, 0.15);
      border-radius: 24px;
      color: black;
      font-size: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 700;
      letter-spacing: 0.75px;
    }
    .name {
      margin-left: 16px;
      font-weight: bold;
      font-size: 16px;
      line-height: 24px;
      color: #203548;
    }
    .ellipsis {
      display: flex;
      align-items: center;
      cursor: pointer;
      button {
        background-color: white;
        position: absolute;
        margin-top: 80px;
        margin-left: -130px;
        border: none;
        width: 160px;
        height: 60px;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
        cursor: pointer;
      }
    }
    .space {
      margin-left: 40px;
      margin-top: 16px;
      margin-bottom: 16px;
      border-bottom: 1px solid #dcdfe1;
    }
    .selectStatus {
      height: 32px;
      width: calc(100% - 40px);
      margin-left: 40px;
      margin-bottom: 12px;
      border: 1px solid #dcdfe1;
      background-color: white;
      padding-right: 8px;
      padding-left: 8px;
      outline: 0;
    }
    .notifyPresentation {
      margin-left: 40px;
      font-weight: bold;
      font-size: 12px;
      line-height: 16px;
      color: #203548;
      margin-bottom: 8px;
    }
    .roleRow {
      margin-left: 40px;
      display: flex;
      margin-bottom: 10px;
      .checkBoxRow {
        width: 188px;
        display: flex;
        align-items: center;
        .checkBox {
          background-color: white;
          width: 18px;
          height: 18px;
          border: 1px solid #dcdfe1;
          box-sizing: border-box;
          border-radius: 2px;
          outline: 0;
          cursor: pointer;
          .isChecked {
            background-color: #2da84f;
            height: 18px;
            width: 18px;
            display: flex;
            align-items: center;
            justify-content: center;
            outline: 0;
            margin: -1px;
            border-radius: 2px;
          }
        }
        label {
          font-weight: normal;
          font-size: 12px;
          line-height: 16px;
          color: #203548;
          margin-left: 11px;
        }
        input {
          height: 18px;
          width: 18px;
          border: 1px solid #dcdfe1;
        }
      }
    }
    .dragger {
      display: flex;
      align-items: center;
      .lock {
        width: 40px;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        .locked {
          width: 18px;
          font-size: 10px;
          padding: 0px;
          cursor: pointer;
          border: none;
          background-color: inherit;
        }
        .unlocked {
          width: 18px;
          font-size: 10px;
          padding: 0px;
          cursor: pointer;
          border: none;
          background-color: inherit;
        }
      }
      .buttonBar {
        flex-shrink: 0;
        display: flex;
        height: 40px;
        align-items: center;
        cursor: pointer;
        .bar {
          width: 328px;
          border-radius: 4px;
          height: 8px;
          border: 1px solid #dcdfe1;
          display: flex;
          align-items: center;
          .color {
            height: 6px;
            border-radius: 4px 0px 0px 4px;
          }
          .whiteBall {
            background: #ffffff;
            border: 1px solid #dcdfe1;
            box-sizing: border-box;
            box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
            height: 16px;
            width: 16px;
            border-radius: 16px;
            margin-left: -8px;
            pointer-events: none;
          }
        }
      }
      .shares {
        flex-grow: 1;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        text-align: right;
        color: #000000;
      }
    }
  }
  .success {
    text-align: center;
    max-width: 624px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .text1 {
      margin-top: 58px;
      font-weight: bold;
      font-size: 18px;
      line-height: 24px;
      color: #203548;
    }
    .text2 {
      margin-top: 16px;
      font-size: 16px;
      line-height: 24px;
      color: #687a8b;
    }
    .text3 {
      margin-top: 32px;
      width: 304px;
      height: 56px;
      background-color: rgba(214, 196, 162, 0.15);
    }
  }
  .privacySelection {
    .title {
      font-weight: bold;
      font-size: 16px;
      line-height: 24px;
      color: #203548;
      margin-bottom: 16px;
    }
  }
  .postSaveConsult {
    min-width: 564px;
  }
}
.createNewCollaborator {
  width: 624px;
  padding: 32px;
  .row1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
    input {
      width: 272px;
    }
  }
  .label {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #203548;
    margin-bottom: 8px;
  }
  input {
    border: 1px solid #dcdfe1;
    box-sizing: border-box;
    border-radius: 2px;
    width: 100%;
    height: 40px;
    padding: 8px;
  }
}

.createNewCollaboratorNavigation {
  .cancel {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #2da84f;
    background-color: inherit;
    border: none;
    margin-right: 16px;
    cursor: pointer;
    padding: 8px 16px;
  }
  .save {
    color: white;
    background: #2da84f;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    padding: 8px 16px;
    border-radius: 2px;
    outline: 0;
  }
}
