.settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  .mobileTopBar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 16px;
    box-shadow: 0px -1px 0px 0px #dcdfe1 inset;

    > :last-child {
      border: 0;
    }
    > .row {
      align-items: center;
      > :first-child {
        margin-right: 16px;
      }
    }
  }
  .noShadow {
    box-shadow: none;
  }
  .topBar {
    width: 100%;
    padding: 16px 24px;
    align-items: center;
    display: flex;
    .mobileHeader {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      max-width: 375px;
      flex: 1;
      padding: 16px;
    }
    @media screen and (max-width: 944px) {
      justify-content: center;
      padding: 0;
      box-shadow: 0px -1px 0px 0px #dcdfe1 inset;
      #avatar {
        margin-bottom: 16px;
      }
    }
    p {
      color: map-get($colors, 'secondary');
      font-style: normal;
      font-size: 16px;
      line-height: 24px;
    }
    .btn-icon {
      margin-bottom: 16px;
    }
  }
  a {
    max-height: 24px;
  }
  .noMaxWidth {
    max-width: 100%;
  }
  main {
    max-width: 944px;
    width: 100%;
    .formInput {
      margin-top: 32px;
    }
    .mobileMenu {
      .menuOption {
        @extend .medium-400;
        display: flex;
        padding: 16px;
        cursor: pointer;
        :first-child {
          margin-right: 16px;
        }
      }
    }
    @media screen and (max-width: 944px) {
      flex: 1;
      max-width: 375px;
      padding: 0;
    }
    .mobileAccount {
      width: 100vw;
      .tabs {
        .tabMenu {
          padding: 0 16px;
          box-shadow: 0px -1px 0px 0px #dcdfe1 inset;
        }
        .tab {
          padding: 0 16px;
          max-width: 375px;
          margin: 0 auto;
        }
      }
    }
    .colLeft {
      width: 244px;
      margin-right: 96px;
      .navigation {
        top: 0;
        position: sticky;
        display: flex;
        flex-direction: column;
        box-shadow: inset 1px 0px 0px #dcdfe1;

        > * {
          margin-top: 8px;
          margin-bottom: 8px;
        }
        a {
          @extend .medium-700;
          color: map-get($colors, 'secondary');
          // display: block;
          height: 24px;
          text-decoration: none;

          padding: 8px 0 8px 16px;
        }
      }
    }

    .colRight {
      > * {
        padding: 64px 0;
        box-shadow: inset 0px -1px 0px map-get($colors, 'stroke');
        :last-child {
          margin-bottom: 0;
        }
      }
    }

    .profile {
      h2 {
        margin-bottom: 32px;
      }

      > .row {
        > * {
          flex: 1;
        }
        :first-child {
          margin-right: 16px;
        }
      }
    }
    .account {
      .locale {
        max-width: 304px;
      }
      .phoneNumber {
        max-width: 472px;
      }
    }
    .professionalIdentity {
      .birthDate {
        max-width: 162px;
      }
      .isni {
        max-width: 288px;
      }
    }
    .notifications {
      table {
        margin-top: 32px;
        width: 100%;
        th {
          color: map-get($colors, 'primary');
          font-style: normal;
          font-weight: bold;
          font-size: 16px;
          line-height: 24px;
          text-align: left;
          padding-bottom: 8px;
        }

        tbody {
          tr {
            box-shadow: inset 0px 1px 0px map-get($colors, 'stroke');

            > :first-child {
              padding: 8px;
            }
          }
          td {
            .checkbox {
              padding: 8px 0;
            }

            .title {
              @extend .medium-400;
              color: map-get($colors, 'primary');
            }
            .description {
              @extend .small-400;
              color: map-get($colors, 'secondary');
            }
          }
        }
      }
    }
    .security {
      .formInput {
        margin-top: 32px;
        display: flex;
        flex-direction: column;
        button {
          margin-top: 8px;
          width: fit-content;
        }
      }
      .modal {
        .downBar {
          > :first-child {
            margin-right: 16px;
          }
        }
      }
      .changePasswordModal {
        .modal {
          max-width: 624px;
          width: 80vh;
          .content {
            > :first-child {
              input {
                margin-bottom: 8px;
              }
              margin-top: 0px;
            }
            a {
              @extend .small-700;
              text-decoration: none;
              color: map-get($colors, 'action');
            }
          }
        }
      }
      .deleteAccountModal {
        .modal {
          max-width: 624px;
          width: 80vh;
          .content {
            h3 {
              color: map-get($colors, 'danger');
            }
            .formInput {
              margin: 32px 0;
            }
            p {
              @extend .medium-400;
            }
          }
        }
      }
    }
  }
}
