.settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  .topBar {
    width: 100%;
    padding: 16px 24px;
    align-items: center;
    display: flex;
    align-items: center;
  }
  a {
    max-height: 24px;
  }
  main {
    max-width: 944px;
    .colLeft {
      width: 244px;
      margin-right: 96px;
      .navigation {
        top: 0;
        position: sticky;
        display: flex;
        flex-direction: column;
        box-shadow: inset 1px 0px 0px #dcdfe1;

        > * {
          margin-top: 8px;
          margin-bottom: 8px;
        }
        a {
          @extend .medium-700;
          color: map-get($colors, 'secondary');
          // display: block;
          height: 24px;
          text-decoration: none;

          padding: 8px 0 8px 16px;
        }
      }
    }
    .colRight {
      .formInput {
        margin-top: 32px;
      }

      > * {
        padding: 64px 0;
        box-shadow: inset 0px -1px 0px map-get($colors, 'stroke');
        :last-child {
          margin-bottom: 0;
        }
      }
    }

    .profile {
      > .row {
        > * {
          flex: 1;
        }
        :first-child {
          margin-right: 16px;
        }
      }
    }
    .notifications {
      table {
        margin-top: 32px;
        width: 100%;
        th {
          color: map-get($colors, 'primary');
          font-style: normal;
          font-weight: bold;
          font-size: 16px;
          line-height: 24px;
          text-align: left;
          padding-bottom: 8px;
        }

        tbody {
          tr {
            box-shadow: inset 0px 1px 0px map-get($colors, 'stroke');

            > :first-child {
              padding: 8px;
            }
          }
          td {
            .checkbox {
              padding: 8px 0;
            }

            .title {
              @extend .medium-400;
              color: map-get($colors, 'primary');
            }
            .description {
              @extend .small-400;
              color: map-get($colors, 'secondary');
            }
          }
        }
      }
    }
  }
}
