.slider{
  display:flex;
  justify-content: stretch;
  align-items: center;
}
.slider-bar{
  flex-grow:1;
  height:2px;
  background:#2da84f;
  position: relative;
}
.slider-handle{
  height:20px;
  width:20px;
  position: absolute;
  top:-10px;
  background:#2da84f;
  border:1px solid #2da84f;
  border-radius:10px
}
.slider-left-label{
  display:inline-block;
  margin-right:0.5em;
}