.summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding-bottom: 64px;
  .topBar {
    position: sticky;
    top: 0px;
    background-color: white;
    height: 72px;
    border-bottom: 2px solid #dcdfe1;
    box-shadow: 0px -2px 4px 4px #dcdfe1;
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
    .side {
      width: 0px;
      .back {
        cursor: pointer;
        margin-left: 16px;
      }
    }
    .b1 {
      align-self: center;
      width: 944px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      .img {
        margin-right: 16px;
      }
      .title {
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        color: #203548;
      }
      .pageTitle {
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: #203548;
        margin-left: 6px;
      }
    }
  }
  main {
    margin-top: 32px;
    width: 100%;
    max-width: 944px;
    flex: 1;
    display: flex;
    flex-direction: column;
    > p {
      margin-top: 8px;
      @extend .small-400;
      color: #687a8b;
      .artistName {
        @extend .small-700;
        color: #2da84f;
      }
    }
    .tabs {
      margin-top: 32px;
      flex: 1;
      display: flex;
      flex-direction: column;
      .tabMenu {
        box-shadow: 0px -1px 0px 0px #dcdfe1 inset;
      }
      .tab {
        margin-top: 32px;
        flex: 1;
        display: flex;
        .kanban {
          flex: 1;
        }
      }
    }
  }
}

.sendSplitModal {
  .modal {
    max-width: 644px !important;
  }
  .content {
    p {
      @extend .medium-400;
      color: map-get($colors, 'secondary');
      margin-bottom: 32px;
    }
    .collaborator {
      margin-top: 16px;
      display: flex;
      svg {
        margin-right: 16px;
        margin-top: 4px;
      }
      .formInput {
        flex: 1;
      }
    }
  }
}

.mobileSummary {
  .rightSplit {
    margin-bottom: 0 !important;
  }
  .notification {
    background-color: #ac1616;
    width: 8px;
    height: 8px;
    border-radius: 8px;
    margin-left: 8px;
  }
  .tab {
    display: flex;
    flex-direction: column;
    > :first-child {
      margin-top: 16px;
    }
    .rightSplit {
      flex: 1;
      margin-top: 16px;
      box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
      cursor: pointer;
      .clickableContainer {
        padding: 16px;
      }
      .title {
        @extend h2;
      }
      .details {
        @extend .small-400;
        color: #687a8b;
        display: inline-block;
      }
      .tag {
        margin-top: 8px;
      }
      .artistName {
        @extend .small-700;
        color: #2da84f;
      }
      .update-details {
        margin-left: 4px;
        display: inline-block;
      }
      .status {
        @extend .small-700;
        padding: 4px 8px;
        border-radius: 2px;
      }

      .b1 {
        width: fit-content;
      }

      .acceptedStatus {
        background-color: #dff8e3;
        color: #176d25;
      }
      .refusedStatus {
        background-color: #fbd4d4;
        color: #ac1616;
      }
      button {
        @extend .btn-secondary;
        width: 100%;
        margin-top: 16px;
      }
    }
  }
}
