.tabs {
  .tabMenu {
    display: flex;
    @media screen and (max-width: 944px) {
      padding: 0 16px;
      box-shadow: 0px -1px 0px 0px #dcdfe1 inset;
    }

    > .menuItem {
      @extend .medium-700;
      color: #687a8b;
      padding: 16px 0;
      margin-right: 32px;
      cursor: pointer;
      display: flex;
      align-items: center;
      @media screen and (max-width: 944px) {
        font-size: 12px;
        line-height: 16px;
        font-weight: bold;
        padding: 12px 0;
        margin-right: 16px;
      }
    }

    .selected {
      color: #203548;
      box-shadow: 0px -2px 0px 0px #3db25e inset;
    }
  }
  @media screen and (max-width: 944px) {
    .tab {
      padding: 0 16px;
      max-width: 375px;
      margin: 0 auto;
    }
  }
}
