.workpieces {
  display: flex;
  width: 100vw;
  .leftMenu {
    height: 100vh;
    width: 288px;
    background-color: #322129;
    .logo {
      background-color: #3f2933;
      height: 72px;
      display: flex;
      align-items: center;
      padding-left: 20px;
      font-family: GT Walsheim Pro;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 32px;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #ffffff;
      margin-bottom: 104px;
      .split {
        color: green;
      }
    }
    .sectionButton {
      background-color: inherit;
      border: none;
      height: 56px;

      font-family: IBM Plex Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      color: #ffffff;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      outline: 0;
      cursor: pointer;
      .buttonLogo {
        background-color: #eee;
        width: 32px;
        height: 32px;
        margin: 12px;
      }
    }
    .selected {
      font-weight: bold;
    }
  }
  .rightContent {
    width: 100vw;
    .topBar {
      height: 72px;
      background-color: #faf8f9;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .searchBar {
        margin-left: 32px;
        height: 40px;
        border: 1px solid #dcdfe1;
        width: 464px;
        border-radius: 25px;
        background-color: white;
      }
      .profile {
        background-color: rgba(214, 196, 162, 0.15);
        width: 50px;
        height: 40px;
        margin-right: 16px;
        font-size: 10px;
        display: flex;
        align-items: center;
        cursor: pointer;
      }
    }
    .titleRow {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 32px;
      .title {
        font-family: IBM Plex Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 40px;
        color: #203548;
      }
    }
    .selectPerspective {
      margin-top: 32px;
      margin-left: 32px;
      margin-bottom: 32px;
      display: flex;
      .tab {
        font-family: IBM Plex Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        display: flex;
        align-items: center;
        border: none;
        background-color: inherit;
        color: #687a8b;
        height: 56px;
        outline: 0;
        cursor: pointer;
      }
      .selectedTab {
        box-shadow: inset 0px -2px 0px #3db25e;
        color: #203548;
      }
    }
    .content {
      height: calc(100vh - 72px);
      overflow-y: auto;
    }
    .list {
      margin-left: 32px;
      margin-right: 32px;
      .workpiece {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 72px;
        background: #ffffff;
        box-shadow: inset 0px 1px 0px #dcdfe1;
        .left {
          display: flex;
          align-items: center;
          width: 350px;
          text-overflow: ellipsis;
          .img {
            background-color: rgba(214, 196, 162, 0.15);
            height: 40px;
            width: 40px;
            margin: 16px;
          }
          .details {
            .b1 {
              font-family: IBM Plex Sans;
              font-style: normal;
              font-weight: normal;
              font-size: 12px;
              line-height: 16px;
              color: #203548;
              .title {
                font-family: IBM Plex Sans;
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                line-height: 24px;
                color: #203548;
              }
            }
            .b2 {
              font-family: IBM Plex Sans;
              font-style: normal;
              font-weight: normal;
              font-size: 12px;
              line-height: 16px;
              color: #687a8b;
              .time {
                background-color: rgba(214, 196, 162, 0.15);
                width: 100px;
                height: 20px;
              }
              .collaborators {
                background-color: rgba(214, 196, 162, 0.15);
                width: 100px;
                height: 20px;
              }
            }
          }
        }

        .progress {
          background-color: rgba(214, 196, 162, 0.15);
          height: 40px;
          width: 300px;
        }
        .credit {
          background-color: rgba(214, 196, 162, 0.15);
          height: 40px;
          width: 40px;
        }

        .right {
          display: flex;
          .action {
            padding: 8px 16px;
            background-color: white;
            border: 1px solid #dcdfe1;
            box-sizing: border-box;
            font-family: IBM Plex Sans;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 24px;
            color: #2da84f;
            border-radius: 2px;
            cursor: pointer;
            margin-right: 10px;
          }
          .ellipsis {
            background-color: rgba(214, 196, 162, 0.15);
            height: 40px;
            width: 20px;
          }
        }
      }
    }
  }
  .workpieceModal {
    .row {
      display: flex;
      .formInput {
        margin-bottom: 0px;
      }
      :first-child {
        margin-right: 16px;
        flex: 2;
      }
      :last-child {
        flex: 1;
      }
    }
    .modal {
      max-width: 624px;
    }
    .content {
      padding-bottom: 0px;
      .formInput {
        margin-bottom: 32px;

        > label {
          @extend .medium-700;
        }
        > input {
          @extend .medium-400;
          margin-top: 8px;
          height: 40px;
          width: 100%;
          background: map-get($colors-background, 'ground');
          border: 1px solid map-get($colors, 'stroke');
          border-radius: 2px;
          padding: 8px;
        }

        .radioGroup {
          display: flex;
          flex-direction: column;
          padding-top: 8px;
          label {
            @extend .medium-400;
            padding: 8px 0;
            display: flex;
            align-items: center;
            cursor: pointer;
          }
          input {
            margin-right: 19px;
          }
        }
        .hint {
          @extend .small-400;
          color: map-get($colors, 'secondary');
          margin-top: 8px;
        }
        a {
          @extend .small-700;
        }
        .filePicker {
          border-style: dashed;
        }
      }
    }
    .downBar {
      display: flex;
      justify-content: flex-end;
      :first-child {
        margin-right: 16px;
      }
    }
  }
}
