.workpieces {
  display: flex;
  width: 100vw;
  .leftMenu {
    height: 100vh;
    width: 288px;
    background-color: #322129;
    .logo {
      background-color: #3f2933;
      height: 72px;
      display: flex;
      align-items: center;
      padding-left: 20px;
      font-family: GT Walsheim Pro;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 32px;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #ffffff;
      margin-bottom: 104px;
      .split {
        color: green;
      }
    }
    .sectionButton {
      background-color: inherit;
      border: none;
      font-family: IBM Plex Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      color: #ffffff;
      display: flex;
      justify-content: flex-start;
      width: 100%;
      outline: 0;
      align-items: center;
      cursor: pointer;
      padding: 16px;
      .buttonLogo {
        margin-right: 16px;
      }
    }
    .selected {
      font-weight: 700;
    }
  }
  .rightContent {
    width: 100vw;
    .topBar {
      height: 72px;
      background-color: #faf8f9;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .searchBar {
        margin-left: 32px;
        height: 40px;
        border: 1px solid #dcdfe1;
        width: 464px;
        border-radius: 25px;
        background-color: white;
      }
      .profile {
        background-color: rgba(214, 196, 162, 0.15);
        width: 50px;
        height: 40px;
        margin-right: 16px;
        font-size: 10px;
        display: flex;
        align-items: center;
        cursor: pointer;
      }
    }
    .titleRow {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 32px;
      .title {
        font-family: IBM Plex Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 40px;
        color: #203548;
      }
    }
    .selectPerspective {
      margin-top: 32px;
      margin-left: 32px;
      margin-bottom: 32px;
      display: flex;
      .tab {
        font-family: IBM Plex Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        display: flex;
        align-items: center;
        border: none;
        background-color: inherit;
        color: #687a8b;
        height: 56px;
        outline: 0;
        cursor: pointer;
      }
      .selectedTab {
        box-shadow: inset 0px -2px 0px #3db25e;
        color: #203548;
      }
    }
    .content {
      height: calc(100vh - 72px);
      overflow-y: auto;
    }
    .list {
      margin-left: 32px;
      margin-right: 32px;
      .workpiece {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 72px;
        background: #ffffff;
        box-shadow: inset 0px 1px 0px #dcdfe1;
        .left {
          display: flex;
          align-items: center;
          width: 350px;
          text-overflow: ellipsis;
          .img {
            display: flex;
            align-items: center;
            flex-shrink: 0;
          }
          .details {
            margin-left: 16px;
            .b1 {
              font-family: IBM Plex Sans;
              font-style: normal;
              font-weight: normal;
              font-size: 12px;
              line-height: 16px;
              color: #203548;
              .title {
                font-family: IBM Plex Sans;
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                line-height: 24px;
                color: #203548;
                margin-right: 4px;
              }
            }
            .b2 {
              font-family: IBM Plex Sans;
              font-style: normal;
              font-weight: normal;
              font-size: 12px;
              line-height: 16px;
              color: #687a8b;
              .time {
                background-color: rgba(214, 196, 162, 0.15);
                width: 100px;
                height: 20px;
              }
              .collaborators {
                background-color: rgba(214, 196, 162, 0.15);
                width: 100px;
                height: 20px;
              }
            }
          }
        }

        .progress {
          background-color: rgba(214, 196, 162, 0.15);
          height: 40px;
          width: 300px;
        }
        .credit {
          background-color: rgba(214, 196, 162, 0.15);
          height: 40px;
          width: 40px;
        }

        .right {
          display: flex;
          align-items: center;
          .action {
            padding: 8px 16px;
            background-color: white;
            border: 1px solid #dcdfe1;
            box-sizing: border-box;
            font-family: IBM Plex Sans;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 24px;
            color: #2da84f;
            border-radius: 2px;
            cursor: pointer;
          }
          .ellipsis {
            margin-left: 16px;
            cursor: pointer;
            position: relative;
            .workpieceMenuOption {
              background-color: white;
              width: 160px;
              height: 60px;
              position: absolute;
              z-index: 1;
              margin-left: -150px;
              margin-top: 30px;
              // top: 52px;
              border: none;
              box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
              cursor: pointer;
            }
          }
        }
      }
      .empty {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        .text1 {
          font-family: IBM Plex Sans;
          font-style: normal;
          font-weight: bold;
          font-size: 16px;
          line-height: 24px;
          text-align: center;
          color: #203548;
          margin-top: 54px;
        }
        .text2 {
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 24px;
          text-align: center;
          color: #687a8b;
          margin-top: 8px;
        }
      }
    }
  }
}
.cover-image {
  width: 40px;
  height: 40px;
  img,
  svg {
  }
  &.large {
    width: 250px;
    height: 250px;
  }
  &.medium {
    width: 72px;
    height: 72px;
  }
  &.small {
    width: 40px;
    height: 40px;
  }
  &.tiny {
    width: 24px;
    height: 24px;
  }
}
.edit-cover-image {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.update-details{
  font-weight: normal;
  font-size: 12px;
  line-height: 11px;
  color:lighten(#687a8b,20%);
}
.last-modified{

  display:inline-block;
}

.artistName {
  text-transform:capitalize;
}